@media (max-width: 767px) {
  .container-sm, .container {
    max-width: 320px;
  }

  /* ========== HEADER ========== */
  
  /* ===== banner ===== */

  /* ===== navigation ===== */

  /* === logo === */

  .site-logo__img {
    background-image: url('../img/site-logo.png');
    height: 94px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
  }

  /* === menu === */

  .nav-list {
    margin-top: 6px;
}

.nav-list li:first-child {
    margin-bottom: 25px;
}

  /* === button === */

  /* ========== ABOUT US ========== */

  /* ===== title ===== */

  /* === conten === */

  /* === button === */

  .btn-aboutUs {
    margin-bottom: 40px;
  }

  /* === images === */

  .aboutUs-images-list li {
    width: 50%;  
  }

  /* ========== COOKING CLASSES ========== */

  /* ===== title ===== */

  /* === text === */

  /* ===== button ===== */

  /* ========== TRANING ========== */

  /* ===== images ===== */

  .traning-list {
    margin-bottom: 10px;
  }

  /* ===== title ===== */

  /* ===== text ===== */

  /* ========== WINE ========== */

  /* ===== title ===== */

  /* ===== gallery ===== */

  .wine-list li:not(:last-child) {
    margin-bottom: 20px;
  }

  /* ===== button ===== */

  /* ========== TESTIMONIALS ========== */

  /* ===== title ===== */

  /* ===== content ===== */

  /* === slider === */

  /* ========== FOOTER ========== */

  /* ===== logo ===== */

  /* ===== menu ===== */

  .footerNav-list {
    margin-top: 5px;
  }

  /* ===== social ===== */

  .icon-wrap {
    justify-content: center;
}
  
}





/* =========================================================================== */
/* =========================================================================== */
/* =========================================================================== */

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }

  /* ========== HEADER ========== */

  /* ===== banner ===== */

  .banner {
    min-height: 600px;
  }

  /* ===== navigation ===== */

  /* === logo === */

  .site-logo__img {
    background-image: url('../img/site-logo.png');
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
  }

  /* === menu === */

  .nav-list {
      margin-top: 8px;
    }
    
  .nav-list a {
      font-size: 14px;
      padding: 8px 0;
  }
    
  .menu {
      padding-top: 30px;
  }

   /* === button === */

  .wrap-btn {
    margin-top: 260px;
  }

  .header-btn {
    font-size: 16px;
    padding: 16px 30px;
  }





  /* ========== ABOUT US ========== */

  /* ===== title ===== */

  .wrap-titleAboutUs {
    min-height: 140px;
  }

  .title-aboutUs {
    font-size: 26px;
  }

  .subTitle-aboutUs {
    font-size: 36px;
  }

    /* === conten === */

  .content-aboutUs {
    margin: 40px 0 60px 0;
  }

  .text-aboutUs {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  /* === button === */

  .btn-aboutUs {
    font-size: 16px;
    padding: 16px 30px;
    margin: 0;
  }

  /* === images === */

  .image-aboutUs1 {
    min-height: 468px;
  }
  .image-aboutUs2 {
    min-height: 468px;
  }





  /* ========== COOKING CLASSES ========== */

  .cooking-banner {
    min-height: 630px;
  }

  /* ===== title ===== */

  .wrap-titlecooking {
    min-height: 140px;
    margin-bottom: 30px;
  }

  .title-cooking {
    font-size: 26px;
  }

  .subTitle-cooking {
    font-size: 36px;
  }

  /* === text === */

  .wrap-textCooking {
    margin-bottom: 30px;
}

.text-cooking {
    font-size: 14px;
    line-height: 22px;
}

/* ======================================================================== */

.slide-image{
    min-height: 250px;
}

/* ========================================================================== */

/* ===== button ===== */

.wrap-btnCooking {
    padding: 40px 0 60px 0;
}

.cooking-btn {
  font-size: 16px;
  padding: 16px 30px;
}





/* ========== TRANING ========== */

.wrap-traning {
    margin: 60px 0;
}

.traningImg-wrap {
    order: 0;
}

.traningCont-wrap {
    order: 1;
    margin-bottom: 0;
}

/* ===== images ===== */

.image-traning1 {
    min-height: 260px;
    margin-bottom: 10px;
}
.image-traning2 {
    min-height: 260px;
}

/* ===== title ===== */

.wrap-titleTraning {
    margin-bottom: 40px;
}

.title-traning {
    font-size: 26px;
}

.subTitle-traning {
    font-size: 36px;
}

/* ===== text ===== */

.traning-content-list li {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}

.traning-phone {
    min-height: 26px;
}





/* ========== WINE ========== */

.wine-banner {
    min-height: 948px;
}

/* ===== title ===== */

.wrap-titleWine {
    min-height: 140px;
    margin-bottom: 40px;
}

.title-wine {
    font-size: 26px;
}

.subTitle-wine {
    font-size: 36px;
}

/* ===== gallery ===== */

.wine-list {
    margin-bottom: 40px;
}

.wine-image {
    margin: 0;
}

@media (min-width: 768px) and (max-width: 1199px) {  
  .wine-list li:not(:nth-child(n+7)) {
    margin-bottom: 30px;
  }
}

.wine-image img {
    height: 330px;
    margin-bottom: 12px;
}

/* .wine-image1 {
    min-height: 175px;
    margin-bottom: 8px;
}
.wine-image2 {
    min-height: 175px;
    margin-bottom: 8px;
}
.wine-image3 {
    min-height: 175px;
    margin-bottom: 8px;
}
.wine-image4 {
    min-height: 175px;
    margin-bottom: 8px;
}
.wine-image5 {
    min-height: 175px;
    margin-bottom: 8px;
}
.wine-image6 {
    min-height: 175px;
    margin-bottom: 8px;
}
.wine-image7 {
    min-height: 175px;
    margin-bottom: 8px;
}
.wine-image8 {
    min-height: 175px;
    margin-bottom: 8px;
} */

.wine-list p{
    font-size: 20px;
}

/* === overlay === */

.overlay-btn {
  font-size: 16px;
  padding: 16px 30px;
}

/* ===== МОДАЛЬНЕ ВІКНО ===== */

.modal{
    max-width: 720px;
    height: 320px;
    padding: 34px;
}

.modal-image {
    min-width: 200px;
}

.content-wrap {
    padding: 0 20px;
}

.modal-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.modal-content {
    font-size: 14px;
    line-height: 22px;
}

.btnIcon {
    top: 4%;
    right: 2%;
    width: 16px;
    height: 16px;
}

/* ===== button ===== */

.wrap-btnWine {
    margin-bottom: 60px;
}

.wine-btn {
  font-size: 16px;
  padding: 16px 30px;
}





/* ========== TESTIMONIALS ========== */

.testimonials-banner {
    min-height: 540px;
}

/* ===== title ===== */

.wrap-testimonials {
    min-height: 140px;
    margin-bottom: 40px;
}

.title-testimonials {
    font-size: 26px;
}

.subTitle-testimonials {
    font-size: 36px;
}

/* ===== content ===== */

.point {
    width: 20px;
    height: 18px;
    margin-bottom: 18px;
}

.testimonials-content {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
}

  .testimonials-name {
    font-size: 14px;
    margin-bottom: 50px;
}

/* === slider === */

.slider-nav {
    margin-bottom: 50px;
}

.arow1 {
    width: 20px;
    height: 18px;
}
.arow2 {
    width: 20px;
    height: 18px;
}

.empty-square {
    width: 16px;
    height: 16px;
}

.fill {
  transform: translateY(15%);
    width: 12px;
    height: 12px;
}





/* ========== FOOTER ========== */

.footer-banner {
    min-height: 120px;
}

.footer-wrap {
    padding-top: 8px;
}

/* ===== logo ===== */

.footer-logo {
    min-height: 102px;
    width: 90px;
    margin: 0;
}

/* === menu === */

.footerNav-list a {
    font-size: 16px;
    padding: 6px 0;
}

/* ===== social ===== */

.logo {
    order: 0;
}

.social {
    order: 2;
}

.nav {
    order: 1;
}

.social-title {
        font-size: 10px;
        margin-bottom: 10px;
        text-align: end;
}

.icon-wrap {
    justify-content: flex-end;
}

.fb-wrap {
    min-height: 30px;
    width: 30px;
    margin-right: 20px;
}

.fb-image {
    min-height: 16px;
    width: 16px;
}

.insta-wrap {
    min-height: 30px;
    width: 30px;
}

.insta-image {
    min-height: 16px;
    width: 16px;
}

/* ===== web design ===== */

.webDesign-banner {
    min-height: 20px;
}

.webDesign-banner p {
    font-size: 12px;
    line-height: 20px;
}


}





/* =========================================================================== */
/* =========================================================================== */
/* =========================================================================== */

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }

  /* ========== HEADER ========== */

  /* ===== banner ===== */

  .banner {
    min-height: 780px;
  }

  /* ===== navigation ===== */

  /* === logo === */

  .site-logo__img {
    background-image: url('../img/site-logo.png');
    height: 188px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain ;
    margin: 0 auto;
  }

  /* === menu === */

  .nav-list {
    margin-top: 10px;
  }

  .nav-list a {
      font-size: 20px;
      padding: 10px 0;
  }

  .menu {
      padding-top: 40px;
  }

  /* === button === */

  .wrap-btn {
    margin-top: 346px;
  }

  .header-btn {
    font-size: 18px;
    padding: 18px 38px;
  }






  /* ========== ABOUT US ========== */

  /* ===== title ===== */

  .wrap-titleAboutUs {
    min-height: 150px;
  }

  .title-aboutUs {
    font-size: 30px;
  }

  .subTitle-aboutUs {
    font-size: 44px;
  }

  /* === conten === */

  .content-aboutUs {
    margin: 50px 0 70px 0;
  }

  .text-aboutUs {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 22px;
  }

  /* === button === */

  .btn-aboutUs {
    font-size: 18px;
    padding: 18px 38px;
  }

  /* === images === */

  .image-aboutUs1 {
    min-height: 440px;
  }
  .image-aboutUs2 {
    min-height: 440px;
  }





  /* ========== COOKING CLASSES ========== */

  .cooking-banner {
    min-height: 840px;
  }

  /* ===== title ===== */

  .wrap-titlecooking {
    min-height: 150px;
    margin-bottom: 40px;
  }

  .title-cooking {
    font-size: 30px;
  }

  .subTitle-cooking {
    font-size: 44px;
  }

  /* === text === */

  .wrap-textCooking {
    margin-bottom: 40px;
}

  .text-cooking {
    font-size: 16px;
    line-height: 28px;
}

/* ========================================================= */

.slide-image{
    min-height: 300px;
}

/* ========================================================== */

/* ===== button ===== */

.wrap-btnCooking {
    padding: 50px 0 70px 0;
}

.cooking-btn {
  font-size: 18px;
  padding: 18px 38px;
}





/* ========== TRANING ========== */

.wrap-traning {
    margin: 70px 0;
}

/* ===== images ===== */

.image-traning1 {
    min-height: 270px;
    margin-bottom: 20px;
}
.image-traning2 {
    min-height: 270px;
}

/* ===== title ===== */

.wrap-titleTraning {
    margin-bottom: 50px;
}

.title-traning {
    font-size: 30px;
}

.subTitle-traning {
    font-size: 44px;
}

/* ===== text ===== */

.traning-content-list li {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 22px;
}

.traning-phone {
    min-height: 30px;
}





/* ========== WINE ========== */

.wine-banner {
    min-height: 1264px;
}

/* ===== title ===== */

.wrap-titleWine {
    min-height: 150px;
    margin-bottom: 50px;
}

.title-wine {
    font-size: 30px;
}

.subTitle-wine {
    font-size: 44px;
}

/* ===== gallery ===== */

.wine-list {
    margin-bottom: 50px;
}

  .wine-list li:not(:nth-child(n+5)) {
    margin-bottom: 50px;
  }

  .wine-image img {
    height: 350px;
    margin-bottom: 14px;
}

/* .wine-image1 {
    min-height: 350px;
    margin-bottom: 14px;
}
.wine-image2 {
    min-height: 350px;
    margin-bottom: 14px;
}
.wine-image3 {
    min-height: 350px;
    margin-bottom: 14px;
}
.wine-image4 {
    min-height: 350px;
    margin-bottom: 14px;
}
.wine-image5 {
    min-height: 350px;
    margin-bottom: 14px;
}
.wine-image6 {
    min-height: 350px;
    margin-bottom: 14px;
}
.wine-image7 {
    min-height: 350px;
    margin-bottom: 14px;
}
.wine-image8 {
    min-height: 350px;
    margin-bottom: 14px;
} */

.wine-list p{
    font-size: 22px;
    padding: 0 5px;
}

/* === overlay === */

.overlay-btn {
  font-size: 18px;
  padding: 18px 38px;
}

/* ===== МОДАЛЬНЕ ВІКНО ===== */

.modal{
    max-width: 1140px;
    height: 680px;
    padding: 70px;
}

.modal-image {
    min-width: 400px;
}

.content-wrap {
    padding: 0 30px;
}

.modal-title {
    font-size: 22px;
    margin-bottom: 40px;
}

.modal-content {
    font-size: 16px;
    line-height: 28px;
}

.btnIcon {
    top: 4%;
    right: 2%;
    width: 20px;
    height: 20px;
}

/* ===== button ===== */

.wrap-btnWine {
    margin-bottom: 70px;
}

.wine-btn {
  font-size: 18px;
  padding: 18px 38px;
}





/* ========== TESTIMONIALS ========== */

.testimonials-banner {
    min-height: 610px;
}

/* ===== title ===== */

.wrap-testimonials {
    min-height: 150px;
    margin-bottom: 50px;
}

.title-testimonials {
    font-size: 30px;
}

.subTitle-testimonials {
    font-size: 44px;
}

/* ===== content ===== */

.point {
    width: 24px;
    height: 20px;
    margin-bottom: 20px;
}

.testimonials-content {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}

  .testimonials-name {
    font-size: 16px;
    margin-bottom: 70px;
}

/* === slider === */

.slider-nav {
    margin-bottom: 70px;
}

.arow1 {
    width: 24px;
    height: 12px;
}
.arow2 {
    width: 24px;
    height: 12px;
}

.empty-square {
    width: 18px;
    height: 18px;
}

.fill {
  transform: translateY(15%);
    width: 14px;
    height: 14px;
}





/* ========== FOOTER ========== */

.footer-banner {
    min-height: 160px;
}

.footer-wrap {
    padding-top: 10px;
}

/* ===== logo ===== */

.footer-logo {
    min-height: 134px;
    width: 120px;
}

/* === menu === */

.footerNav-list a {
    font-size: 18px;
    padding: 8px 0;
}

/* ===== social ===== */

.social-title {
        font-size: 14px;
        margin-bottom: 14px;
}

.fb-wrap {
    min-height: 40px;
    width: 40px;
    margin-right: 30px;
}

.fb-image {
    min-height: 20px;
    width: 20px;
}

.insta-wrap {
    min-height: 40px;
    width: 40px;
}

.insta-image {
    min-height: 20px;
    width: 20px;
}

/* ===== web design ===== */

.webDesign-banner {
    min-height: 40px;
}

.webDesign-banner p {
    font-size: 14px;
    line-height: 40px;
}




}

